<form class="form-horizontal" name="paymentForm">
	<div class="row">
		<div class="col-md-4">
			<form-field label="Release Date" field="releaseDate" record="vm.payment.releaseDate"></form-field>
			<form-field label="Amount" field="releaseAmount" record="vm.payment.releaseAmount"></form-field>
			<form-field label="In Words" field="releaseAmountInWords" record="vm.payment.releaseAmountInWords"></form-field>
			<form-field label="Project" field="project" record="vm.payment.project"></form-field>
			<form-field label="Budget Head" field="budgetHead" record="vm.payment.budgetHead"></form-field>
			<form-field label="Funds Conf." field="fundsConfRef" record="vm.payment.fundsConfRef"></form-field>
			<form-field label="Funds Allocation" field="fundsAllocation" record="vm.payment.fundsAllocation"></form-field>
			<form-field label="Pay. Mode" field="paymentMode" record="vm.payment.paymentMode"></form-field>
			<form-field label="Ship. Port" field="shipmentPort" record="vm.payment.shipmentPort"></form-field>
		</div>
		<div class="col-md-4">
			<form-field label="Bank Sub. Dt." field="appSubDate" record="vm.payment.appSubDate"></form-field>
			<form-field label="Bank Br." field="bankBranch" record="vm.payment.bankBranch"></form-field>
			<form-field label="I.P. No" field="importPermitNo" record="vm.payment.importPermitNo"></form-field>
			<form-field label="I.P. Date" field="importPermitDate" record="vm.payment.importPermitDate"></form-field>
			<form-field label="Value" field="importPermitValue" record="vm.payment.importPermitValue"></form-field>
			<form-field label="In Words" field="ipValueInWords" record="vm.payment.ipValueInWords"></form-field>
			<form-field label="Subject Stores" field="subjectStores" record="vm.payment.subjectStores"></form-field>
			<form-field label="Ship. Date" field="lastDateShipment" record="vm.payment.lastDateShipment"></form-field>
			<form-field label="Exp. Date" field="expiryDateShipment" record="vm.payment.expiryDateShipment"></form-field>
		</div>
		<div class="col-md-4">
			<form-field label="Pay. No" field="paymentNo" record="vm.payment.paymentNo"></form-field>
			<form-field label="Estb. Date" field="paymentDate" record="vm.payment.paymentDate"></form-field>
			<form-field label="Expiry Date" field="lcExpiryDate" record="vm.payment.lcExpiryDate"></form-field>
			<form-field label="Amend. Date" field="lcAmendmentDate" record="vm.payment.lcAmendmentDate"></form-field>
		</div>
	</div>
	<div class="row">
		<div class="form-group">
			<div class="col-sm-offset-1 col-sm-10">
				<button type="submit" ng-click="vm.save()" class="btn btn-success" 
                ng-disabled="paymentForm.$touched && paymentForm.$invalid">Save</button>
			</div>
		</div>
	</div>

	<div class="row" ng-show="vm.error">
		<pre>
			<tt>    
			{{vm.error}}
            </tt>
		</pre>
	</div>

</form>