<p></p>
<form name="orderForm" class="form-horizontal" novalidate>

	<div class="row">
		<div class="col-md-4">

			<form-field label='Order Type' field='orderType' record='vm.order.orderType'></form-field>
			<form-field label="Order No" field="orderNo" record="vm.order.orderNo" ng-required="true"></form-field>
			<form-field label='Order Date' field='orderDate' record='vm.order.orderDate'></form-field>
			<form-field label='Subject Stores' field='subjectStores' record='vm.order.subjectStores'></form-field>
		</div>
		<div class="col-md-4">
			<form-field label='currency' field='currency' record='vm.order.currency'></form-field>
			<form-field label='Ex.Works Value' field='exWorksValue' record='vm.order.exWorksValue'></form-field>
		</div>
		<div class="col-md-4">
			<form-field label='Project' field='project' record='vm.order.project'></form-field>
		</div>
	</div>

	<div class="row">
		<button type="submit" ng-click="vm.save()" class="btn btn-success" 
            ng-disabled="orderForm.$touched && orderForm.$invalid">Save
        </button>
	</div>
</form>