<div class="modal-header">
    <h3 class="modal-title">Title: {{vm.pageTitle}}</h3>
</div>
<div class="modal-body">
    <h4>Supply Order No. <strong>{{vm.order.orderNo}}</strong> dated {{vm.order.orderDate | date:'dd-MMM-yyyy'}}</stron></h4>

    <ul class="nav nav-tabs">
        <li role="presentation" ui-sref-active="active"><a ui-sref=".order">Supply Order</a></li>
        <!--<li role="presentation" ui-sref-active="active" ng-if="vm.orderId">
            <a ui-sref=".paymentList">Payments</a>
        </li>-->

        <li role="presentation" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
               aria-expanded="false">Dropdown <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a href="">New Payment</a></li>
                <li role="separator" class="divider"></li>
                <li role="presentation" ui-sref-active="active"><a ui-sref=".paymentList">Payments</a></li>
                <li><a href="">Pay. No. 1 Pay. No. 1 Pay. No. 1 Pay. No. 1 Pay. No. 1 Pay. No. 1 Pay. No. 1</a></li>
            </ul>
        </li>


        <li role="presentation">
            <a><span class="glyphicon glyphicon-refresh" ng-click="vm.refresh()"></span></a>
        </li>
    </ul>

    <div ui-view></div>
</div>
<div class="modal-footer">
    <!--<button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>-->
</div>